{
  "accessKeyId": "{{admin_aws_access_key_id}}",
  "secretAccessKey": "{{admin_aws_secret_access_key}}",
  "region": "{{region}}",
  "accountId": "{{aws_account_id}}",
  "backupRoleId": "{{aws_es_backup_role_name}}",
  "s3Bucket": "{{aws_s3_log_bucket}}"
}
